@{
    ViewBag.Title = "Home";
}
<img src="~/Content/Image/home.bmp" width="640" height="320" />
<p></p><p></p>
<p><b>Setting the Global Standard</b></p>
<p>Commerce Objectives Global Limited is the international company for the trading of precious metals, industrial metals, jewelry, pearls and precious stones. A member of Dubai Multi Commodities Centre (DMCC), Commerce Objectives Global Limited plays a very important role in trading, exchange and investment of precious metals, industrial metals, jewelry, pearls and precious stones in the global market.</p>
<p>Customers respect Commerce Objectives Global Limited as a world class supplier of precious metals, industrial metals, jewelry, pearls and precious stones. </p>
<p>Investors value Commerce Objectives Global Limited as a vibrant futures exchange but also for its close links to industry. </p>
<p>The possibility of physical delivery via the world-wide network of industry approved warehouses makes it the perfect and safe shipment globally.</p>
<p>The exchange provides different companies, investors or consumers with a physical market of getting the commodities that they desire by exchanging what they have.</p>
<p>We are a company with equal opportunities to our employees. Here, you'll feel welcomed and valued. Our clients, transactions, deals and projects are global so we work hard to create diverse, inclusive teams that support our business and each other - it's good for business and it makes sense.</p>
<p>We are a company with diversity, culture and human rights respect. Diversity is a cornerstone of our global corporate culture, and we continue to build upon it through a variety of programs and initiatives. To reach our goal of being the best company of precious metals, industrial metals, jewelry, pearls and precious stones in the world, we are committed to creating an open and dynamic workplace. We support fundamental principles of human rights across all our lines of business and in each region of the world in which we operate.</p>
<p>We are a company with full corporate responsibility so we comply with the ethical principles and rules of our profession and manage the risks at the core of our strategies. This is our responsibility towards our customers, and is essential for earning their trust.</p>
<p></p>
<p></p>
<p>
<b>HELPFUL LINKS</b><br>
<b>@Html.ActionLink("Contact Us", "ContactUs", "Home")</b><br>
<b>@Html.ActionLink("Worldwide", "Worldwide", "Home")</b><br>
<b>@Html.ActionLink("News & Announcement", "NewsAnnouncement", "Home")</b><br>
<b>@Html.ActionLink("Investor Relations", "InvestorRelations", "Home")</b><br>
<b>@Html.ActionLink("Media Relations", "MediaRelations", "Home")</b><br>
</p>
<p></p>
