@{
    ViewBag.Title = "配置管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2></h2>
<div class="row">
    <div class="col-md-2">
        <h2></h2>
        <ul>
            <li>@Html.ActionLink("用户管理", "AccountManager", "Home")</li>
            <li>@Html.ActionLink("新建用户", "Register", "Account")</li>
            <li>@Html.ActionLink("短消息设置", "SmsPhoneNumber", "Home")</li>
        </ul>
        <p></p>
    </div>
    <div class="col-md-8">
        @RenderBody()
    </div>
</div>
@section Scripts {
    @RenderSection("scripts", required: false)
}
