@*@using X.PagedList
    @using X.PagedList.Mvc*@
@model IEnumerable<QnyWeb.Models.AspNetUser>
@{
    ViewBag.Title = "AccountManager";
    Layout = "~/Views/Home/_AccountManager.cshtml";
    IList<QnyWeb.Models.AspNetRole> Roles = ViewBag.Roles;
    IList<QnyWeb.Models.PoiList> Pois = ViewBag.Pois;
}
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>用户管理</h2>
<p></p>
@using (Html.BeginForm("AccountManager", "Home", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>用户名</th>
            <th colspan="3">角色</th>
        </tr>
        @foreach (var item in Model)
        {
            var isReserveUser = item.UserName.ToLower().Equals("admin");
            <tr>
                <td>
                    <div disabled="true">
                        @Html.DisplayFor(modelItem => item.UserName)
                        @*<a href='@Url.RouteUrl("DefaultApi", new { httproute = true, controller ="Qny", action = "DeleteAccount", id = item.Id })'>删除用户</a>*@
                        @if (!isReserveUser)
                    {
                            <a href="javascript:void(0)" onclick="deletes('@item.Id')">删除</a>
                        }
                        <a href="javascript:void(0)" onclick="resetPassword(this,'@item.Id')">重置密码</a>
                    </div>
                </td>
                @foreach (var role in Roles)
                {
                        var roleCheckd = item.AspNetUserRoles.Where(ur => ur.RoleId == role.Id).Any();
                        var isSales = role.Name.Equals("Sales");
                        var isAdmin = role.Name.Equals("Admin");
                        <td>
                            @if (isSales && !isReserveUser)
                            {
                                @Html.CheckBoxFor(r => roleCheckd, new { id = string.Format("ur_{0}_{1}", item.Id, role.Id), onclick = "salesCheck(this)" })
                            }
                            else if (isAdmin)
                            {
                                if (!isReserveUser)
                                {
                                    @Html.CheckBoxFor(r => roleCheckd, new { id = string.Format("ur_{0}_{1}", item.Id, role.Id), onclick = "adminCheck(this)" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(r => roleCheckd, new { id = string.Format("ur_{0}_{1}", item.Id, role.Id), disabled = "false" })
                                }
                            }
                            else
                            {
                                @Html.CheckBoxFor(r => roleCheckd, new { id = string.Format("ur_{0}_{1}", item.Id, role.Id) })
                            }
                            @Html.DisplayFor(r => role.Name)
                            @if (isSales && !isReserveUser)
                            {
                                <br />
                                foreach (var poi in Pois)
                                {
                                    var poiCheckd = item.AspNetUserPois.Where(up => up.poiId == poi.poiid).Any();
                                    @Html.CheckBoxFor(p => poiCheckd, new { id = string.Format("up_{0}_{1}", item.Id, poi.poiid), onclick = "poiCheck(this)" })
                                    @Html.DisplayFor(p => poi.poiname)
                                    <br />
                                }
                            }
                        </td>
                }
            </tr>
        }
    </table>
    @*@Html.PagedListPager((IPagedList)Model, page => Url.Action("AccountManager", new { page }))*@
    <input type="submit" class="btn btn-default" id="SaveButton" value="保存" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                </div>
            </div>
            <input type="hidden" value="" id="hiddenResult" name="hiddenResult" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        document.getElementById("SaveButton").onclick = function () {
            var value = "";
            $("input[type = checkbox]").each(
                function (i, e) {
                    if (e.checked) value += e.id + ","
                });
            document.getElementById("hiddenResult").value = value;
        };

        //删除用户
        function deletes(id) {
            //$(function () {
            $.ajax({
                type: 'get',
                async: false,
                url: '/api/Qny/DeleteAccount/' + id,
                dataType: 'JSON',
                data: {},
                success: function (result) {
                    //var json = JSON.parse(result);
                    window.location.href = "/Home/AccountManager";
                }
            });
            //});
        }

        function resetPassword(e, userId) {
            cancelResetPassword()
            $(e).after('<div id="resetDiv">密码:<input type="text" id="password" name="password"/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="resetButton" name="resetButton" onclick="postResetPassword(\'' + userId + '\')" value="重置" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" onclick="cancelResetPassword()" value="取消" /></div>');
        }
        function postResetPassword(userId) {
            var password = $("#password").val();
            $.ajax({
                type: 'POST',
                //async: false,
                url: '/api/Qny/ResetPassword/',
                contentType: "application/json",
                dataType: 'JSON',
                data: JSON.stringify({ 'id': userId, 'password': password }),
                success: function (result) {
                    var json = JSON.parse(result);
                    if (json.code == 0) {
                        $("#resetDiv").html("<p style='color:green'><b>" + json.message + "</b></p>");
                    } else {
                        $("#resetDiv").after("<p style='color:red'><b>" + json.message + "</b></p>");
                    }
                }
            });
        }
        function cancelResetPassword() {
            $("#resetDiv").each(function (i, e) {
                e.remove();
            });
        }
        function salesCheck(chk) {
            if (!$(chk).is(":checked")) {
                $(chk).parent().find("input[type=checkbox][id!='" + $(chk).attr("id") + "']").each(
                function (i, e) {
                    $(e).prop("checked", false);
                });
            }
        }
        function poiCheck(chk) {
            if ($(chk).is(":checked")) {
                $(chk).parent().find("input[id^=ur]").prop("checked", true);
            }
        }
        function adminCheck(chk) {
            if ($(chk).is(":checked")) {
                $(chk).parent().parent().find("input[type=checkbox][id!='" + $(chk).attr("id") + "']").each(
                function (i, e) {
                    $(e).prop("checked", false);
                });
            }
        }
    </script>
}
