@model IEnumerable<QnyWeb.Models.StatisticsByMonthSku>

@{
    ViewBag.Title = "StatisticsByMonthSku";
}

<h3>按月SkuId统计</h3>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spuName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sumPoPrice2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spuName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sumPoPrice2)
        </td>
    </tr>
}
</table>
