<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - 上海亲农渔贸易有限公司数据管理系统</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/MvcGridCss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        @Html.ActionLink("亲农渔数据管理", "Index", "Home", null, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">@Html.ActionLink("主页", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("采购单", "PmsPoList", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("收货单", "ReceivingNote", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("数据统计", "StatisticsByMonthSku", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("数据统计2", "StatisticsByDaySku", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("用户管理", "AccountManager", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("关于", "About", "Home", null, new { @class = "nav-link" })</li>
                @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 上海亲农渔贸易有限公司</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
